mixin about-us2()
  section.about-us2
    .container
      .about-us2__wrapper
        .about-us2__text 
          span.about-us2__intro About us
          h2.about-us2__title Bringing Your Vision to Life: Learn About VRNas
          .about-us2__description 
            p
                | VRNas is a leading provider of VR services for education, entertainment, architecture, 
                | and events. Our mission is to bring the power of virtual reality to everyone, 
                | allowing them to explore new worlds, learn in new ways, and experience events 
                | in a whole new light.
                br
                | Our team consists of experienced VR developers, designers, and technicians 
                | who are passionate about VR and dedicated to delivering the highest quality 
                | work. We use the latest VR hardware and software to create immersive, interactive 
                | experiences that are tailored to your specific needs.
                br
                | From initial consultation to final delivery, we are committed to 
                | providing exceptional customer service. Our goal is to ensure that you 
                | are completely satisfied with every aspect of your VR experience.
        +user({clusterId: users["about2"]})
