mixin about-us()
  section.about-us
    .container
      .about-us__wrapper
        +user({clusterId: users["about"], class: "animation"})
        .about-us__text 
          +title-intro({text: "About us"})
          h2.about-us__title Bring your events to life like never before with our VR services.
          .about-us__description 
            p
              | VRNas is a leading provider of VR services for education, 
              | entertainment, architecture, and events. Our mission is to 
              | bring the power of virtual reality to everyone, allowing them to explore new worlds, 
              | learn in new ways, and experience events in a whole new light.
          ul.about-us__list 
            li.about-us__item Cutting-Edge Technology
              +icon("checkbox", "16", "16", true)
            li.about-us__item Versatile Applications
              +icon("checkbox", "16", "16", true)
            li.about-us__item Affordable and Accessible
              +icon("checkbox", "16", "16", true)
          +btn({text: "read more", href: "#", isExternal: true}).about-us__button
