mixin capabilities()
  .capabilities
    .container
      ul.capabilities__list 
        li.capabilities__item 
          +icon("expertise", "70", "70")
          h3.capabilities__list-title Expertise
          p.capabilities__descript 
            | Our team consists of experienced VR developers, 
            | designers, and technicians who have a passion for VR and a 
            | commitment to delivering quality work and give the best service 
        li.capabilities__item 
          +icon("customization", "70", "70")
          h3.capabilities__list-title Customization
          p.capabilities__descript 
            | Every client is unique, and we believe every VR experience 
            | should be too. We'll work with you to create a customized 
            | solution that meets your specific needs and goals
        li.capabilities__item 
          +icon("service", "70", "70")
          h3.capabilities__list-title Service
          p.capabilities__descript 
            | We believe in providing exceptional customer service, 
            | from initial consultation to final delivery. Our goal is 
            | to ensure you're satisfied with every aspect of your VR experience.