mixin choose-about2()
  section.choose-about2
    .container
      .choose-about2__wrapper
        +user({clusterId: users["choose-more"]})
        .choose-about2__text 
          span.choose-about2__intro Why choose us
          h2.choose-about2__title Why choose Us for Your VR Needs
          ul.choose-about2__list
            li.choose-about2__item
                .choose-about2__trigger
                    h3.choose-about2__title-menu Passionate and Experienced Team
                    .choose-about2__btn-trigger
                        include ../../../img/svg/arrow-choose.svg
                .choose-about2__content.choose-about2__content--first
                  p
                    | We are proud of our team of VR experts who are passionate 
                    | about VR and dedicated to delivering the highest quality work. 
                    | Our team consists of experienced VR developers, designers, and technicians 
                    | who have a proven track record of creating immersive and engaging VR experiences.
            li.choose-about2__item
                .choose-about2__trigger
                    h3.choose-about2__title-menu Customized Solutions
                    .choose-about2__btn-trigger
                        include ../../../img/svg/arrow-choose.svg
                .choose-about2__content
                  p
                    | We are proud of our team of VR experts who are passionate 
                    | about VR and dedicated to delivering the highest quality work. 
                    | Our team consists of experienced VR developers, designers, and technicians 
                    | who have a proven track record of creating immersive and engaging VR experiences. 
            li.choose-about2__item
                .choose-about2__trigger
                    h3.choose-about2__title-menu Exceptional Customer Service
                    .choose-about2__btn-trigger
                        include ../../../img/svg/arrow-choose.svg
                .choose-about2__content
                  p
                    | We are proud of our team of VR experts who are passionate 
                    | about VR and dedicated to delivering the highest quality work. 
                    | Our team consists of experienced VR developers, designers, and technicians 
                    | who have a proven track record of creating immersive and engaging VR experiences.
