mixin choose-about()
  section.choose-about
    .container
      .choose-about__wrapper
        .choose-about__bg-lines
            +icon("icon-bg-about-lines", "990", "721", true)
        .choose-about__text 
          +title-intro({text: "Why choose us"}).choose-about__intro
          h2.choose-about__title Empowering Your Virtual Reality Experience
          +capabilities()

