mixin choose()
  section.choose
    .container
      .choose__wrapper
        .choose__text 
          p.choose__intro Why choose us
          h2.choose__title Why Choose Us for Your VR Needs
          ul.choose__list
            li.choose__item
                .choose__trigger
                    h3.choose__title-menu Passionate and Experienced Team
                    .choose__btn-trigger
                        include ../../../img/svg/arrow-choose.svg
                p.choose__content.choose__content--first
                    | We are proud of our team of VR experts who are passionate 
                    | about VR and dedicated to delivering the highest quality work. 
                    | Our team consists of experienced VR developers, designers, and technicians 
                    | who have a proven track record of creating immersive and engaging VR experiences.
            li.choose__item
                .choose__trigger
                    h3.choose__title-menu Customized Solutions
                    .choose__btn-trigger
                        include ../../../img/svg/arrow-choose.svg
                p.choose__content
                    | We are proud of our team of VR experts who are passionate 
                    | about VR and dedicated to delivering the highest quality work. 
                    | Our team consists of experienced VR developers, designers, and technicians 
                    | who have a proven track record of creating immersive and engaging VR experiences. 
            li.choose__item
                .choose__trigger
                    h3.choose__title-menu Exceptional Customer Service
                    .choose__btn-trigger
                        include ../../../img/svg/arrow-choose.svg
                p.choose__content
                    | We are proud of our team of VR experts who are passionate 
                    | about VR and dedicated to delivering the highest quality work. 
                    | Our team consists of experienced VR developers, designers, and technicians 
                    | who have a proven track record of creating immersive and engaging VR experiences.
        +user({clusterId: users["choose"]})
