mixin get-started()
  section.get-started
    .container
      .get-started__img
        +img("content", "blur-get-started", "png", 874, 619, "")
      span.get-started__intro How to get started
      h2.get-started__title Bringing Your Virtual Reality Dreams to Life
      .get-started__video 
          video(width='1200' height='522' poster="/img/content/preview-video.jpg")
              source(src='video/web.mp4' type='video/mp4')
      +btn({text: "get started", href: "#", isExternal: true}).get-started__button