mixin intro()
  .intro
    .container
      //- .intro__bg
      //-   +icon("bg-intro", "1090", "663")
      .intro__wrapper
        .intro__text
          h1.intro__title Immerse Yourself in Virtual Reality
          p.intro__description 
            | Experience Unforgettable Events in VR. 
            | Bring your events to life like never before with our VR services
          a.intro__button discover more
        .intro__wrapper-img
          +img("content", "man-intro", "png", 526, 626, "Мужчина в VR очках")
