mixin intro()
  .intro
    .container
      //- .intro__bg
      //-   +icon("bg-intro", "1090", "663")
      .intro__wrapper
        .intro__text
          h1.intro__title Immerse Yourself in Virtual Reality
          p.intro__description 
            | Experience Unforgettable Events in VR. 
            | Bring your events to life like never before with our VR services
          a.intro__button discover more
        .intro__wrapper-img
          +img("content", "man-intro", "png", 526, 626, "Мужчина в VR очках")
      ul.intro__list 
        li.intro__item 
          +icon()
          h3.intro__list-title Expertise
          p.intro__descript 
            | Our team consists of experienced VR developers, 
            | designers, and technicians who have a passion for VR and a 
            | commitment to delivering quality work and give the best service 
        li.intro__item 
          +icon()
          h3.intro__list-title Customization
          p.intro__descript 
            | Every client is unique, and we believe every VR experience 
            | should be too. We'll work with you to create a customized 
            | solution that meets your specific needs and goals
        li.intro__item 
          +icon()
          h3.intro__list-title Service
          p.intro__descript 
            | We believe in providing exceptional customer service, 
            | from initial consultation to final delivery. Our goal is 
            | to ensure you're satisfied with every aspect of your VR experience.

