mixin intro()
  section.intro(id="intro")
    .container
      .intro__bg-wave
        +icon("icon-bg-intro-wave", "736", "353", true)
      .intro__bg-wave-mobile
        +icon("icon-bg-intro-wave", "382", "206", true)
      .intro__bg-lines
        +icon("icon-bg-intro-lines", "1097", "721")
      .intro__wrapper
        .intro__text
          h1.intro__title Immerse Yourself in Virtual Reality
          .intro__description
            p 
              | Experience Unforgettable Events in VR. 
              | Bring your events to life like never before with our VR services
          +btn({text: "discover more", href: "#", isExternal: true}).intro__button
          .intro__happy-wrapper
            .intro__container-mini 
              ul.intro__mini-team
                li.intro__team.intro__team--1
                  +img("content", "intro-team-1", "png", 50, 50, "Developer 1")
                li.intro__team.intro__team--2
                  +img("content", "intro-team-2", "png", 50, 50, "Developer 2")
                li.intro__team.intro__team--3
                  +img("content", "intro-team-3", "png", 50, 50, "Developer 3")
              .intro__title-client
                +icon("icon-line-intro", "48", "7", true)
                p 
                  span 32k+
                  |  Happy Client
            .intro__happy-client
              +img("content", "intro-mini-image", "jpg", 196, 128, "Мужчина в очках с камерой")
        .intro__wrapper-img
          +img("content", "man-intro", "png", 526, 626, "Мужчина в VR очках")
      .intro__bg-blur
        +img("content", "bg-blur", "png", 875, 760, "") 
      +capabilities()

