mixin partners()
  section.partners
    .container
        span.partners__intro Our Trusted Partners
        h2.partners__title Discover the Companies We Work With
        .partners__img
            +img("content", "partners", "png", 1055, 741, "Мужчина в VR очках")
            .partners__img-item.partners__img-item--1
                +img("content", "partners-1", "png", 102, 102, "Logoipsum")
            .partners__img-item.partners__img-item--2
                +img("content", "partners-2", "png", 102, 102, "Logoipsum")
            .partners__img-item.partners__img-item--3
                +img("content", "partners-3", "png", 102, 102, "Logoipsum")
            .partners__img-item.partners__img-item--4
                +img("content", "partners-4", "png", 102, 102, "Logoipsum")
            .partners__img-item.partners__img-item--5
                +img("content", "partners-5", "png", 102, 102, "Logoipsum")
            .partners__img-item.partners__img-item--6
                +img("content", "partners-6", "png", 102, 102, "Logoipsum")
            .partners__img-item.partners__img-item--7
                +img("content", "partners-7", "png", 102, 102, "Logoipsum")   