mixin partners()
  section.partners
    .container
        +title-intro({text: "Our Trusted Partners"}).partners__intro
        h2.partners__title Discover the Companies We Work With
        .partners__img
            +img("content", "partners", "png", 1055, 741, "Мужчина в VR очках")
            .partners__img-item.partners__img-item--1
                include ../../../img/svg/partners-1.svg
            .partners__img-item.partners__img-item--2
                include ../../../img/svg/partners-2.svg
            .partners__img-item.partners__img-item--3
                include ../../../img/svg/partners-3.svg
            .partners__img-item.partners__img-item--4
                include ../../../img/svg/partners-4.svg
            .partners__img-item.partners__img-item--5
                include ../../../img/svg/partners-5.svg
            .partners__img-item.partners__img-item--6
                include ../../../img/svg/partners-6.svg
            .partners__img-item.partners__img-item--7
                include ../../../img/svg/partners-7.svg