mixin service()
  section.service(id="service")
    .container
      ul.service__wrapper-text
        li.service__text 
          span.service__intro Our service
          h2.service__title Our Service
        li.service__description 
          p
            | We use the latest VR hardware and software to create high-quality 
            | VR experiences that are accessible and affordable. Our goal is to provide 
            | exceptional customer service and support, and our team is always available 
            | to answer any questions and address any concerns you may have.
      ul.service__list 
        li.service__item 
          +services({clusterId: services["development"]})
        li.service__item.service__item--second
          +services({clusterId: services["design"]})
        li.service__item.service__item--third 
          +services({clusterId: services["consulting"]})
        li.service__item 
          +services({clusterId: services["games"]})
        li.service__item.service__item--second 
          +services({clusterId: services["events"]})
        li.service__item.service__item--third  
          +services({clusterId: services["entertainment"]})
