mixin service()
  section.service(id="service")
    .container
      ul.service__wrapper-text
        li.service__text 
          +title-intro({text: "Our service"})
          h2.service__title Our Service
        li.service__description 
          p
            | We use the latest VR hardware and software to create high-quality 
            | VR experiences that are accessible and affordable. Our goal is to provide 
            | exceptional customer service and support, and our team is always available 
            | to answer any questions and address any concerns you may have.
      ul.service__list 
        li.service__item.service__item--1
          +services({clusterId: services["development"]})
          .service__hover
            +btn({text: "learn more", href: "#", isExternal: true}).service__button
        li.service__item.service__item--second.service__item--2
          +services({clusterId: services["design"]})
          .service__hover
            +btn({text: "learn more", href: "#", isExternal: true}).service__button
        li.service__item.service__item--third.service__item--3
          +services({clusterId: services["consulting"]})
          .service__hover
            +btn({text: "learn more", href: "#", isExternal: true}).service__button
        li.service__item.service__item--4 
          +services({clusterId: services["games"]})
          .service__hover
            +btn({text: "learn more", href: "#", isExternal: true}).service__button
        li.service__item.service__item--second.service__item--5
          +services({clusterId: services["events"]})
          .service__hover
            +btn({text: "learn more", href: "#", isExternal: true}).service__button
        li.service__item.service__item--third.service__item--6 
          +services({clusterId: services["entertainment"]})
          .service__hover
            +btn({text: "learn more", href: "#", isExternal: true}).service__button
