.btn {
  display: inline-flex;
  text-align: center;
  color: $color-default-white;
  border: none;
  cursor: pointer;
  user-select: none;
  font-family: $ff-chakra-petch;
  font-size: size(14px);
  font-style: normal;
  font-weight: 700;
  line-height: size(14px);
  letter-spacing: size(1.5px);
  text-transform: uppercase;
  background: linear-gradient(90deg, $color-deep-sky-blue 0%, $color-free-speech-magenta 100%);
  padding: size(18px) size(38px);

  @include hover-focus {
    &:hover::before {
      opacity: 1;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
