.capabilities {
    &__list {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: size(50px);
        list-style-type: none;
        background-color: $color-jaguar;
        padding: size(42px) size(63px) size(53px) size(65px);
        border: size(1px) solid rgba(255, 255, 255, 0.7);
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), $color-jaguar);
        border-image-slice: 1;
    }

    &__list-title {
        margin: size(42px) 0 size(12px) 0;
        font-family: $ff-chakra-petch;
        font-size: size(20px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__descript {
        margin: 0;
        color: $color-spun-pearl;
        font-family: $ff-chakra-petch;
        font-size: size(14px);
        font-style: normal;
        font-weight: 400;
        line-height: size(28px);

        p {
            margin: 0;
        }
    }
}