.choose-about {
    margin-top: size(210px);
    position: relative;

    &__bg-lines {
        position: absolute;
        left: size(-4px);
        z-index: -1;
        bottom: size(192px);

        svg {
            width: size(990px);
            height: size(721px);
        }
    }

    &__intro {
        font-family: $ff-chakra-petch;
        font-size: size(16px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: size(2.24px);
        text-transform: uppercase;
        background: linear-gradient(90deg, $color-deep-sky-blue 0%, $color-free-speech-magenta 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
        margin: 0 auto;
    }

    &__title {
        margin: size(12px) auto size(54px) auto;
        text-align: center;
        font-family: $ff-chakra-petch;
        font-size: size(48px);
        font-style: normal;
        font-weight: 600;
        line-height: size(58px);
        letter-spacing: size(-0.24px);
        width: size(708px);

        @include vp-767 {
            width: inherit;
            font-family: $ff-chakra-petch;
            font-size: size(32px);
            line-height: normal;
            letter-spacing: size(-0.16px);
        }
    }
}