.get-started {
    text-align: center;
    margin-top: size(150px);
    position: relative;

    &__img {
        position: absolute;
        top: size(-151px);
        left: size(-327px);
    }

    &__intro {
        font-family: $ff-chakra-petch;
        font-size: size(16px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: size(2.24px);
        text-transform: uppercase;
        background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
        margin: 0 auto;
    }

    &__title {
        font-family: $ff-chakra-petch;
        font-size: size(48px);
        font-style: normal;
        font-weight: 600;
        line-height: size(58px);
        letter-spacing: size(-0.24px);
        margin: size(12px) auto;
        width: size(802px);
    }

    &__video {
        margin-bottom: size(50px);
    }
}