.intro {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__bg {
        position: absolute;
        z-index: 1;

        svg {
            width: size(1090px);
            height: size(663px);
        }
    }

    &__title {
        font-family: $ff-chakra-petch;
        font-size: size(64px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: size(-0.32px);
    }

    &__description {
        font-family: $ff-chakra-petch;
        font-size: size(16px);
        font-style: normal;
        font-weight: 300;
        line-height: size(28px);
        color: $color-light-grey;
    }

    &__button {
        font-family: $ff-chakra-petch;
        font-size: size(14px);
        font-style: normal;
        font-weight: 700;
        line-height: size(14px);
        letter-spacing: size(1.5px);
        text-transform: uppercase;
        background: linear-gradient(90deg, $color-deep-sky-blue 0%, $color-free-speech-magenta 100%);
        padding: size(18px) size(38px);
        cursor: pointer;
    }
}