.intro {
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__bg-wave {
        position: absolute;
        z-index: 1;

        svg {
            width: size(1090px);
            height: size(663px);
        }
    }

    &__bg-lines {
        position: absolute;
        left: 0;
        z-index: -1;
        bottom: 0;

        svg {
            width: size(1097px);
            height: size(721px);
        }
    }

    &__title {
        font-family: $ff-chakra-petch;
        font-size: size(64px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: size(-0.32px);
        margin: size(87px) 0 size(12px) 0;
    }

    &__description {
        font-family: $ff-chakra-petch;
        font-size: size(16px);
        font-style: normal;
        font-weight: 300;
        line-height: size(28px);
        color: $color-light-grey;
        width: size(446px);
        margin: 0 0 size(50px) 0;
    }

    &__button {
        font-family: $ff-chakra-petch;
        font-size: size(14px);
        font-style: normal;
        font-weight: 700;
        line-height: size(14px);
        letter-spacing: size(1.5px);
        text-transform: uppercase;
        background: linear-gradient(90deg, $color-deep-sky-blue 0%, $color-free-speech-magenta 100%);
        padding: size(18px) size(38px);
        cursor: pointer;
    }

    &__happy-client {
        margin: size(60px) 0 0 0;
    }

    &__wrapper-img {
        align-self: flex-end;
        min-width: size(526px);
        height: size(626px);
    }
}