.intro {
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__bg-wave {
        position: absolute;
        z-index: -1;
        width: size(1090px);
        height: size(664px);
        top: size(-449px);
        right: size(-337px);

        svg {
            width: size(1090px);
            height: size(664px);
            opacity: 0.4;
        }
    }

    &__bg-lines {
        position: absolute;
        left: 0;
        z-index: -1;
        bottom: size(89px);

        svg {
            width: size(1097px);
            height: size(721px);
        }
    }

    &__title {
        font-family: $ff-chakra-petch;
        font-size: size(64px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: size(-0.32px);
        margin: size(87px) 0 size(12px) 0;
    }

    &__description {
        font-family: $ff-chakra-petch;
        font-size: size(16px);
        font-style: normal;
        font-weight: 300;
        line-height: size(28px);
        color: $color-light-grey;
        width: size(446px);
        margin: 0 0 size(50px) 0;

        p {
            margin: 0;
        }
    }

    &__happy-client {
        margin: size(60px) 0 0 0;
    }

    &__wrapper-img {
        align-self: flex-end;
        min-width: size(526px);
        height: size(626px);
    }

    &__bg-blur {
        position: absolute;
        z-index: -1;
        width: size(987px);
        height: size(760px);
        top: size(36px);
        right: size(-169px);

        svg {
            width: size(987px);
            height: size(760px);
            opacity: 0.6;
        }
    }
}