.main-nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    align-self: center;
    width: size(534px);
    justify-content: space-between;

    list-style: none;

    gap: size(16px);
    justify-content: flex-end;

    @include vp-767 {
      display: block;
      padding: size(160px) 0 0 size(16px);
      z-index: 2;
    }
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    font-family: $ff-chakra-petch;
    font-size: size(16px);
    font-style: normal;
    font-weight: 300;
    line-height: size(28px);
    color: $color-default-white;

    text-transform: inherit;
    background: transparent;
    pointer-events: all;
    padding: 0;
    user-select: auto;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__wrapper {
    display: flex;
    width: size(858px);
    justify-content: space-between;
  }

  &__contact {
    align-self: center;
    padding: size(12px) size(24px);
    border: size(1px) solid $color-deep-sky-blue;
    border-image: linear-gradient(to right, $color-deep-sky-blue, $color-free-speech-magenta);
    border-image-slice: 1;
    user-select: none;

    @include vp-767 {
      display: none;
    }
  }


  &--opened &__arrow {
    display: none;
  }

  &__clip {
    align-self: center;

    @include vp-767 {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      clip-path: circle(25px at calc(100% - 45px) 45px);
      transition: all 0.3s ease-in-out;
      overflow: auto;
    }
  }

  &__clip ul {
    @include vp-767 {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -35%);
      flex-direction: column;
      width: 100%;
      padding: size(30px);

      li {
        display: flex;
        justify-content: center;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.3s ease;

        a {
          position: relative;
          padding: 10px 30px;
          text-decoration: none;
          font-size: size(40px);
          font-style: normal;
          font-weight: 600;
          line-height: size(58px);
          letter-spacing: size(0.2px);
          margin: 0 0 size(15px) 0;
          transform: translateY(0);
          transition: all 0.3s ease;
        }
      }
    }
  }

  #active:checked {
    @include vp-767 {
      ~.main-nav__clip {
        clip-path: circle(75%);
        z-index: 2;
        background-color: $color-black-russian;

        ul {
          li {
            opacity: 1;
            transform: translateY(0);
            transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1);

            &:nth-child(1) {
              transition-delay: 0.1s;
            }

            &:nth-child(2) {
              transition-delay: 0.2s;
            }

            &:nth-child(3) {
              transition-delay: 0.3s;
            }

            &:nth-child(4) {
              transition-delay: 0.4s;
            }

            &:nth-child(5) {
              transition-delay: 0.5s;
            }

            &:nth-child(6) {
              transition-delay: 0.6s;
            }
          }
        }
      }

      +.main-nav__toggle span {
        transform: scaleX(0);
      }
    }
  }

  &--opened &__wrapper {
    @include vp-767 {
      overflow-x: hidden;
    }
  }

  &--no-js &__list {
    @include vp-767 {
      position: static;
      top: 0;
      z-index: 10;
      width: 100%;
      height: size(285px);
      background-color: $color-default-white;
      overflow-y: auto;
      overflow-x: hidden;
      padding: size(20px) 0 0 size(15px);
      display: block;
      margin-top: size(40px);
    }
  }

  &__wrapper input {
    display: none;
  }

  &--no-js &__wrapper {
    @include vp-767 {
      padding-top: 0;
      width: 100%;
    }
  }

  &__item {
    @include vp-767 {
      opacity: 0;
      visibility: hidden;
    }
  }

  &--opened &__item {
    @include vp-767 {
      opacity: 1;
      visibility: visible;
    }
  }

  &--opened &__link {
    @include vp-767 {
      &:hover {
        opacity: 0.7;
        background-color: transparent;
      }
    }
  }

  &--opened &__toggle-lines {
    @include vp-767 {
      display: none;
    }
  }

  &__toggle::before {
    @include vp-767 {
      content: "";
      position: absolute;
      top: size(15px);
      left: size(5px);

      width: size(24px);
      height: size(2px);
    }
  }

  &--no-js &__toggle {
    @include vp-767 {
      display: none;
    }
  }

  &--opened &__toggle {
    @include vp-767 {
      width: size(32px);
      height: size(32px);

      &::before,
      &::after {
        content: "";
        position: absolute;

        top: size(15px);
        left: size(8px);
        width: size(15px);

        height: size(2px);

        background-color: $color-default-white;
      }

      &::before {
        box-shadow: none;
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__toggle {
    display: none;

    @include vp-767 {
      position: absolute;
      top: size(42px);
      right: size(16px);
      z-index: 11;

      display: block;
      width: size(32px);
      height: size(32px);

      background: transparent;
      border: size(1px) solid $color-deep-sky-blue;
      border-image: linear-gradient(to right, $color-deep-sky-blue, $color-free-speech-magenta);
      border-image-slice: 1;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &::before,
      &::after {
        content: "";
        transition: all 0.3s ease 0s;
        right: size(6px);
        position: absolute;
        width: 0.8125rem;
        height: 0.125rem;
        background-color: #fff;
      }

      &::before {
        top: size(9px);
        width: size(20px);
      }

      &::after {
        bottom: size(8px);
        width: size(7px);
      }

      transition: all 0.3s ease 0s;

      &.is-active {
        top: size(15px);
        transition: all 0.3s ease 0s;
      }
    }
  }

  &__toggle-lines {
    content: "";
    transition: all 0.3s ease 0s;
    right: size(6px);
    position: absolute;
    width: size(13px);
    height: 0.125rem;
    background-color: #fff;
    top: size(15px);
  }
}