.main-nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    align-self: center;
    width: size(534px);
    justify-content: space-between;

    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    font-family: $ff-chakra-petch;
    font-size: size(16px);
    font-style: normal;
    font-weight: 300;
    line-height: size(28px);
    color: $color-default-white;

    text-transform: inherit;
    background: transparent;
    pointer-events: all;
    padding: 0;
    user-select: auto;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }

  &__wrapper {
    display: flex;
    width: size(858px);
    justify-content: space-between;
  }

  &__contact {
    align-self: center;
    padding: size(12px) size(24px);
    border: size(1px) solid $color-deep-sky-blue;
    border-image: linear-gradient(to right, $color-deep-sky-blue, $color-free-speech-magenta);
    border-image-slice: 1;
    user-select: none;
  }
}