.services {
    &__title {
        font-family: $ff-chakra-petch;
        font-size: size(20px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: size(58px) 0 size(12px) 0;

        p {
            margin: 0;
        }
    }

    &__descript {
        color: $color-spun-pearl;
        font-family: $ff-chakra-petch;
        font-size: size(14px);
        font-style: normal;
        font-weight: 400;
        line-height: size(28px);

        p {
            margin: 0;
        }
    }

    &__icon {
        width: size(48px);
        height: size(48px);

        svg {
            width: size(48px);
            height: size(48px);
        }
    }
}