.user {
    align-self: flex-end;

    &__wrapper {
        position: relative;
    }

    &__wrapper-img {

        width: size(500px);
        height: size(574px);

        img {
            width: size(500px);
            height: size(574px);
        }

        &--about2 {
            width: size(417px);
            height: size(574px);
    
            img {
                width: size(417px);
                height: size(574px);
            }
        }
    }

    &__bg-blur {
        position: absolute;
        z-index: -1;
        width: size(1029px);
        height: size(785px);
        top: size(-77px);
        left: size(-276px);

        img {
            width: size(1029px);
            height: size(785px);
            opacity: 0.6;
        }
    }

    &__headset {
        position: absolute;
        z-index: 2;
        width: size(196px);
        height: size(128px);
        bottom: size(-20px);
        right: size(-1px);

        img {
            width: size(196px);
            height: size(128px);
        }

        &--about2 {
            left: size(-80px);
            bottom: size(-59px);
        }
    }

    &.animation {
        transform: translateX(-100%);
    }
}