-
  const users = {
    "about": {
      cluster: "about",
      img: {
        path: "content",
        image: "man-about",
        format: "png",
        width: 518,
        height: 622,
        altText: "Мужчина в VR очках",
      },
      bg: {
        path: "content",
        image: "bg-man",
        format: "png",
        width: 399,
        height: 497,
        altText: "",
      },
      blur: {
        path: "content",
        image: "bg-blur",
        format: "png",
        width: 1029,
        height: 785,
        altText: "",
      },
      headset: {
        path: "content",
        image: "vr-about",
        format: "jpg",
        width: 196,
        height: 128,
        altText: "VR очки",
      },
    },
    "choose": {
      cluster: "choose",
      img: {
        path: "content",
        image: "choose-main",
        format: "png",
        width: 563,
        height: 662,
        altText: "Мужчина в VR очках",
      },
      bg: {
        path: "content",
        image: "bg-man",
        format: "png",
        width: 399,
        height: 497,
        altText: "",
      },
      blur: {
        path: "content",
        image: "bg-blur",
        format: "png",
        width: 1029,
        height: 785,
        altText: "",
      },
      headset: {
        path: "content",
        image: "vr-choose",
        format: "jpg",
        width: 196,
        height: 128,
        altText: "VR очки",
      },
    },
    "choose-more": {
      cluster: "choose-more",
      img: {
        path: "content",
        image: "choose-more",
        format: "png",
        width: 500,
        height: 574,
        altText: "Мужчина в VR очках",
      },
      bg: {
        path: "content",
        image: "bg-man",
        format: "png",
        width: 399,
        height: 497,
        altText: "",
      },
      blur: {
        path: "content",
        image: "bg-blur",
        format: "png",
        width: 1029,
        height: 785,
        altText: "",
      },
      headset: {
        path: "content",
        image: "vr-about",
        format: "jpg",
        width: 196,
        height: 128,
        altText: "VR очки",
      },
    },
    "about2": {
      img: {
        path: "content",
        image: "man-about2",
        format: "png",
        width: 399,
        height: 574,
        altText: "Мужчина в VR очках",
      },
      bg: {
        path: "content",
        image: "bg-man",
        format: "png",
        width: 399,
        height: 497,
        altText: "",
      },
      blur: {
        path: "content",
        image: "blur-about2",
        format: "png",
        width: 1030,
        height: 786,
        altText: "",
      },
      headset: {
        path: "content",
        image: "intro-mini-image",
        format: "jpg",
        width: 196,
        height: 128,
        altText: "VR очки",
      },
    },
  }

mixin user(options = {})
  - const data = options.clusterId
  - const classMods = options.class ? options.class : '';
  - const userpicClassMod = data.userpicSize ? `user__icon--up${data.userpicSize}` : false

  .user(class = classMods)&attributes(attributes)
    .user__wrapper
        if data.cluster
          .user__wrapper-img(class = userpicClassMod)
            +img(data.img.path, data.img.image, data.img.format, data.img.width, data.img.height, data.img.altText)
          .user__wrapper-bg(class = userpicClassMod)
            +img(data.bg.path, data.bg.image, data.bg.format, data.bg.width, data.bg.height, data.bg.altText)
          .user__bg-blur(class = userpicClassMod)
            +img(data.blur.path, data.blur.image, data.blur.format, data.blur.width, data.blur.height, data.blur.altText)
          .user__headset(class = userpicClassMod)
            +img(data.headset.path, data.headset.image, data.headset.format, data.headset.width, data.headset.height, data.headset.altText)
        else
          .user__wrapper-img.user__wrapper-img--about2(class = userpicClassMod)
            +img(data.img.path, data.img.image, data.img.format, data.img.width, data.img.height, data.img.altText)
          .user__wrapper-bg.user__wrapper-bg--about2(class = userpicClassMod)
            +img(data.bg.path, data.bg.image, data.bg.format, data.bg.width, data.bg.height, data.bg.altText)
          .user__bg-blur(class = userpicClassMod)
            +img(data.blur.path, data.blur.image, data.blur.format, data.blur.width, data.blur.height, data.blur.altText)
          .user__headset.user__headset--about2(class = userpicClassMod)
            +img(data.headset.path, data.headset.image, data.headset.format, data.headset.width, data.headset.height, data.headset.altText)
