@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/chakra-petch-light.woff2") format("woff2"),
    url("../fonts/chakra-petch-light.woff") format("woff");
}
