mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container

      a.header__logo(href="index.html", data-move-to="intro", aria-label="Переход к началу страницы")
        +icon("icon-logo", "101", "30", true)

      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            li.main-nav__item
              a.main-nav__link(href="index.html#home")
                span Home
            li.main-nav__item
              a.main-nav__link(href="about-us.html#about-us")
                span About us
            li.main-nav__item
              a.main-nav__link(href="index.html#service")
                span Service
            li.main-nav__item
              a.main-nav__link(href="index.html#pricing-plan")
                span Pricing Plan
            li.main-nav__item
              a.main-nav__link(href="blog.html#Blog")
                span Blog
          a.main-nav__contact(href="#") Contact us
